.detail-content{color:var(--color-default-2);}
.detail-share{border-color:rgb(var(--color-border-dark) / 55%);}
.dsl-button:hover{fill:var(--color-default-4);}



.profile-name, .profile-title{color:var(--bg-2);}
.profile-name{background-color:var(--color-default-4);}
.profile-title{background-color:var(--color-default-3); border-color:rgb(var(--color-border-light) / 34%);}
a.profile-email{background-color:var(--color-default-3);}
a.profile-email:hover{background-color:var(--color-default-4);}