:root, :before, :after{
  --bg-2:#FFFFFF;
  --color-default-1:#757575; 
  --color-default-2:#072732;
  --color-default-3:#203049;
  --color-default-4:#EB212E;   
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-fb:#1877f2;
  --color-tw:#00acec;
  --color-wa:#2bb240;
  --color-tg:#0088cc;
  --rounded-1:var(--size-1);
  --rounded-2:var(--size-2);
  --rounded-3:var(--size-4);
  --hover-opacity:0.34;
  --transition-default:all 0.34s;
  --shadow-default:0 0 13px rgb(0 0 0 / 55%);
}



body, html{color:var(--color-default-1);}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-default-2); fill:var(--color-default-2);}
a:hover, button:hover{color:var(--color-default-3); fill:var(--color-default-3);}
.btn, a.btn, button.btn{background-color:var(--color-default-4); color:var(--bg-1); fill:var(--bg-1);}
.btn-blue, a.btn-blue, button.btn-blue{background-color:var(--color-default-3);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-default-1);}
#btt{position:fixed; bottom:calc(var(--size-6) + var(--size-4)); right:0; cursor:pointer;
z-index:calc(var(--max-zindex) - 10000); width:40px; height:40px; background-color:var(--color-default-4); fill:var(--bg-2);
border-top-left-radius:var(--rounded-1); border-bottom-left-radius:var(--rounded-1);}
#btt:hover, #btt:focus{background-color:var(--color-default-3);}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-default-1);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



header{background-color:var(--color-default-3);}
.header-link, .menu-link{color:var(--bg-2) !important; fill:var(--bg-2) !important;}
.header-link:hover, .menu-link:hover{opacity:var(--hover-opacity);}
.impavida-logo{fill:inherit;}

.menu-curr{opacity:1 !important; color:var(--color-default-4) !important; fill:var(--color-default-4) !important;}
.menu-curr > span:before{background-color:var(--color-default-4) !important;}



.section-dark{
  --bg-2:#203049;
  --color-default-1:#EBEEF2;
  --color-default-3:#FFFFFF;
  
  background-color:var(--bg-2);
}
.section-dark .title-primary{color:var(--color-default-3);}
.title-primary{color:var(--color-default-2);}
.title-secondary{color:var(--color-default-4);}
.title-tertiary{color:var(--color-default-1);}



.primelist-box{background-color:var(--bg-2); color:var(--color-default-3); fill:var(--color-default-3);}



.svm-vision{background-color:var(--color-default-4);}
.svm-mission{background-color:var(--bg-2);}
.svm-title{color:var(--color-default-3);}
.svm-desc{color:var(--color-default-1);}



button.saop-tab-button{border-radius:0; background-color:var(--bg-2); color:var(--color-default-4); border:1px solid var(--color-default-4);}
button.saop-tab-curr{background-color:var(--color-default-4); color:var(--bg-2);}
button.saop-tab-button:hover{color:var(--bg-2);}



.saop-box{background-color:var(--bg-2); color:var(--color-default-3); fill:var(--color-default-4);}
.saop-box:hover{background-color:var(--color-default-3); color:var(--bg-2); fill:var(--bg-2);}



.founderlist-box{background-color:var(--color-default-4); color:var(--bg-2) !important;}
.founderlist-box:hover{background-color:var(--color-default-3);}
.founderlist-title{color:var(--bg-1);}



.articlelist-box{background-color:var(--bg-2);}
.articlelist-box:hover{background-color:var(--color-default-3); color:var(--bg-2);}
.articlelist-date, .articlelist-more{color:var(--color-default-4);}



.section-contact{--image-size:377px;}
.section-contact .width-max{display:grid; grid-gap:var(--size-5);}
.section-contact-box{margin-top:var(--size-5);}
.section-contact-image{max-width:var(--image-size); margin:0 auto;}
.section-contact-image:before{padding-top:143.87%;}
.section-contact-box{display:grid; grid-gap:var(--size-4);}
.scb-form{display:flex; align-items:center; width:100%; border:1px solid var(--color-border); background-color:var(--bg-2); padding:var(--size-3);}
textarea.scb-form{min-height:144px;}



.footer-top, .footer-bottom{color:var(--bg-1);}
.footer-top{background-color:var(--color-default-3);}
.footer-top-container{display:grid !important; grid-gap:var(--size-5);}
.footer-logo{text-align:center;}
.footer-logo .impavida-logo{width:100%; max-width:233px; height:auto; fill:var(--bg-2);}

.footer-contact-direct{--icon-size:3rem; display:grid; grid-gap:var(--size-3);}
.fcd-list{display:grid; grid-template-columns:var(--icon-size) 1fr; grid-gap:var(--size-3); color:var(--bg-2); fill:var(--bg-2); font-weight:bold;}
.fcd-list:hover{color:var(--color-default-4);}
.fcd-icon{width:100%; height:var(--icon-size); border-radius:50%; background-color:var(--color-default-4);}
.fcd-right{display:flex; align-items:center;}

.footer-contact{align-items:flex-start;}
.footer-contact-socmed{margin-top:var(--size-5);}
.fcs-list{display:grid; grid-template-columns:repeat(4,1fr); grid-gap:var(--size-3); margin-top:var(--size-3);}
.fcs-button{width:var(--size-6); height:var(--size-6); background-color:var(--color-default-2); fill:var(--bg-2);}
.fcs-button:hover{background-color:var(--color-default-4);}

.footer-address-map:before{padding-top:56.25%;}
.footer-address-map iframe{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.footer-address-detail{margin-top:var(--size-4); display:grid; grid-gap:var(--size-2); line-height:160%; color:var(--bg-1);}
.footer-address-detail:hover{color:var(--color-default-4);}
.fad-building{font-size:1.3rem;}

.footer-bottom{padding:var(--size-4); background-color:var(--color-default-2);}




.rancak-popup, .rancak-popup-overlay, .rancak-popup-container{bottom:0; left:0; width:100%; height:100%;}
.rancak-popup{position:fixed; z-index:calc(var(--max-zindex) - 4000);}
.rancak-popup-overlay, .rancak-popup-container{position:absolute;}
.rancak-popup-overlay{z-index:1; background-color:rgb(var(--color-border-dark) / 55%);}
.rancak-popup-container, .rancak-popup-box{padding:var(--size-4);}
.rancak-popup-container{flex-wrap:wrap; align-content:center;}
.rancak-popup-box{position:relative; z-index:1000; width:100%; max-width:610px; max-height:calc(100vh - 130px); overflow-y:auto;
background-color:var(--bg-2); box-shadow:var(--shadow-default);}
.rancak-popup-bottom{width:100%; position:relative; z-index:2000; margin-top:var(--size-3);}
button.rancak-popup-close{background-color:var(--color-default-4);}
button.rancak-popup-close:hover{background-color:var(--color-default-3);}

.popup-saop *{text-align:center;}
.popup-saop .svgicon{fill:var(--color-default-4);}
.popup-saop .saop-title{color:var(--color-default-3);}
.popup-saop .saop-list-title{color:var(--color-default-3);}
.popup-saop-right-box{line-height:160%;}





@media screen and (max-width:639px){
  .menu-link:not(:first-child){border-top:1px dashed rgb(var(--color-border-light) / 34%);}
  .menu-curr{color:var(--color-default-2) !important; fill:var(--color-default-2) !important;}
  .menu-curr > span:before{background-color:var(--color-default-2) !important;}

  .primelist-box:nth-child(2), .primelist-box:nth-child(3){background-color:var(--color-default-4);}
}





@media screen and (min-width:640px){
  nav.show-nav{display:flex !important; justify-content:center;}
  .menu-link{border-top:0 !important;}

  .primelist-box:nth-child(even){background-color:var(--color-default-4);}
  
  .section-contact .width-max{grid-template-columns:var(--image-size) 1fr;}
  .section-contact-box{grid-template-columns:repeat(2,1fr);}
  .scb-merge{grid-column:1/3;}
}





@media screen and (min-width:0px) and (max-width:1023px){
  .svm-box{padding:var(--size-4);}
  
  button.saop-tab-button:hover{background-color:var(--color-default-4); border-color:var(--color-default-4);}
  
  .footer-address *{text-align:center;}
}





@media screen and (min-width:1024px){
  .svm-box{padding:var(--size-5);}
  
  button.saop-tab-button:hover{background-color:var(--color-default-1); border-color:var(--color-default-1);}
  
  .footer-top-container{grid-template-columns:233px 1fr 1fr;}
}