.section-home-intro .section-bg:after{background:linear-gradient(to bottom,var(--color-default-3) 0%,transparent 100%)}
.shi-title{color:var(--bg-2);}
.shi-subtitle{color:var(--bg-1);}
.shi-subtitle span{color:var(--color-default-4);}

.primelist{box-shadow:var(--shadow-default);}



.section-home-about{background-color:var(--bg-1);}



.section-home-client{background-color:var(--bg-2);}
.shc-head{max-width:610px; margin:0 auto;}
.shc-head *{text-align:center;}
.shc-list{display:flex; flex-wrap:wrap; justify-content:center; margin-top:var(--size-5);}
.shc-box{margin:var(--size-4) var(--size-5);}
.shc-box img{position:relative; width:auto; height:var(--size-6);}





.popup-announcement{display:block;}
.popup-announcement-content{line-height:150%; display:grid; color:var(--color-default-2);}
.popup-announcement-content *{text-align:justify;}
.popup-announcement-content a{font-weight:bold; color:var(--color-default-4);}
.popup-announcement-content a:hover{color:var(--color-default-3);}
.popup-announcement-content h2, .popup-announcement-content h3{font-weight:bold; line-height:130%; text-align:center;}
.popup-announcement-content h2{font-size:2rem; color:var(--color-default-4); text-transform:uppercase;}
.popup-announcement-content h3{font-size:1.5rem;}
.popup-announcement-content ol, .popup-announcement-content ul{padding-left:var(--size-4); display:grid; grid-gap:var(--size-1); margin-top:var(--size-1);}
.popup-announcement-content ol{list-style:decimal;}
.popup-announcement-content ul{list-style:square;}





@media screen and (min-width:0px) and (max-width:639px){
  
}





@media screen and (min-width:640px){
  
}





@media screen and (min-width:0px) and (max-width:1023px){
  
}





@media screen and (min-width:1024px){
  .popup-announcement .rancak-popup-box::-webkit-scrollbar{width:7px;}
  .popup-announcement .rancak-popup-box::-webkit-scrollbar-track, .popup-announcement .rancak-popup-box::-webkit-scrollbar-thumb{background:0;}
  .popup-announcement .rancak-popup-box:hover::-webkit-scrollbar-thumb{background:hsl(var(--color-light) / 25%);}
  .popup-announcement .rancak-popup-box::-webkit-scrollbar-thumb:hover{background:hsl(var(--color-light) / 35%);}

}