.section-home-intro .section-bg:after{background:linear-gradient(to bottom,var(--color-default-3) 0%,transparent 100%)}
.shi-title{color:var(--color-default-3);}
.shi-subtitle{color:var(--color-default-1);}
.shi-subtitle span{color:var(--color-default-4);}

.primelist{box-shadow:var(--shadow-default);}



.section-home-about{background-color:var(--bg-1);}



.sht-head{max-width:610px; margin:0 auto;}
.sht-head *{text-align:center;}
.sht-head .title-primary{color:var(--bg-2);}
.sht-head .title-tertiary{color:var(--bg-1);}





@media screen and (min-width:0px) and (max-width:639px){
  
}





@media screen and (min-width:640px){
  
}





@media screen and (min-width:0px) and (max-width:1023px){
  
}





@media screen and (min-width:1024px){
  
}