.section-home-intro .section-bg:after{background:linear-gradient(to bottom,var(--color-default-3) 0%,transparent 100%)}
.shi-title{color:var(--bg-2);}
.shi-subtitle{color:var(--bg-1);}
.shi-subtitle span{color:var(--color-default-4);}

.primelist{box-shadow:var(--shadow-default);}



.section-home-about{background-color:var(--bg-1);}



.section-home-client{background-color:var(--bg-2);}
.shc-head{max-width:610px; margin:0 auto;}
.shc-head *{text-align:center;}
.shc-list{display:flex; flex-wrap:wrap; justify-content:center; margin-top:var(--size-5);}
.shc-box{margin:var(--size-4) var(--size-5);}
.shc-box img{position:relative; width:auto; height:var(--size-6);}





@media screen and (min-width:0px) and (max-width:639px){
  
}





@media screen and (min-width:640px){
  
}





@media screen and (min-width:0px) and (max-width:1023px){
  
}





@media screen and (min-width:1024px){
  
}