*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --max-zindex:2147483648;
  --default-fontsize:16px;
  --title-fontsize:2rem;
  --sidebar-width:300px;
  --size-1:0.357rem;
  --size-2:0.571rem;
  --size-3:0.929rem;
  --size-4:1.5rem;
  --size-5:2.429rem;
  --size-6:3.929rem;
  --size-7:6.357rem;
  --bg-1:#EBEEF2;
}





@media screen and (min-width:0px) and (max-width:374px){
  :root, :before, :after{--default-fontsize:14px;}
}



body, html{font-family:'Rubik',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.5px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-1);}
body{overflow-x:hidden;}
.btn, a.btn, button.btn{padding:var(--size-4) var(--size-5); font-weight:bold; -webkit-appearance:none; text-transform:uppercase; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



header > .width-max, nav{display:flex;}
header{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 5000); top:0; left:0; width:100%;}
header > .width-max{justify-content:space-between;}
.header-link, .menu-link{display:flex; align-items:center; padding:0 var(--size-2); font-weight:bold;}
.impavida-logo{width:auto; height:64%;}

.menu-link > span{display:block; position:relative;}
.menu-curr > span:before{content:''; display:block; position:absolute; bottom:calc(var(--size-1) * -1); left:0; width:100%; height:2px;}



.rancak-container{}

.section-container{position:relative; padding:var(--size-7) 0;}
.section-container > .width-max{display:block; z-index:5000;}
.section-bg{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%;}
.title-primary, .title-secondary{font-family:'Poppins',sans-serif;}
.title-primary{font-size:2.25rem; line-height:120%; font-weight:bold;}
.title-secondary{font-size:1.3rem; line-height:150%; margin-bottom:var(--size-1);}
.title-tertiary{line-height:160%; margin-top:var(--size-3);}



.primelist{display:grid; overflow:hidden;}
.primelist-box{position:relative; height:var(--prime-box-height);}
.primelist-container{position:absolute; top:0; left:0; width:100%; height:100%; display:flex; flex-wrap:wrap; align-items:center; align-content:center; justify-content:center;}
.primelist-container .svgicon{width:100%;}
.primelist-label{font-family:'Poppins',sans-serif; text-align:center; line-height:130%; width:100%; margin-top:var(--size-3);}



.section-visimisi > .width-max{display:grid !important; grid-gap:var(--size-4); grid-template-columns:repeat(auto-fit, minmax(210px,1fr)); max-width:987px;}
.svm-title{font-weight:bold; text-transform:uppercase; font-size:2rem;}
.svm-desc{line-height:150%; margin-top:var(--size-3);}



.saop-tab{margin:var(--size-4) 0;}
.saop-label, .saop-title{text-align:center;}
.saop-content{display:none; line-height:160%;}
.saop-content#Litigation{display:block;}
.saop-content p{text-align:center; margin-bottom:var(--size-4);}

.saop-list{display:grid;}
.saop-box{display:flex; flex-wrap:wrap; align-content:space-between;}
.saop-box *{width:100%; text-align:center;}
.svgicon-saop{height:3rem;}
.saop-list-title{font-weight:bold; font-family:'Poppins',sans-serif; font-size:1.3rem; line-height:160%; margin:var(--size-3) 0 var(--size-4);}



.founderlist{display:grid; grid-gap:var(--size-4); grid-template-columns:repeat(auto-fit, minmax(210px,1fr)); margin-top:var(--size-5);}
.founderlist-photo:before{padding-top:118.35%;}
.founderlist-info{padding:var(--size-3);}
.founderlist-info *{text-align:center;}
.founderlist-name{font-weight:bold; font-size:1.3rem; line-height:150%; text-transform:capitalize;}
.founderlist-title{font-weight:normal; margin:2px 0;}





@media screen and (min-width:0px) and (max-width:639px){
  nav{display:none; position:absolute; top:var(--size-6); left:0; width:100%; background-color:var(--color-default-4);}
  nav.show-nav{display:block;}
  .menu-toggle{opacity:1 !important; padding-right:var(--size-4);}
  .menu-toggle .svgicon{width:auto; height:var(--size-4);}
  .menu-toggle-open{background-color:var(--color-default-4); padding-left:var(--size-4);}
  
  .primelist{grid-template-columns:repeat(2,1fr); margin-bottom:calc((var(--prime-box-height) / 1) * -1);}
  
  .saop-tab{display:grid; grid-template-columns:repeat(2,1fr);}
  button.saop-tab-button{padding:var(--size-4) 0;}
  
  .founderlist{grid-gap:var(--size-2); grid-template-columns:repeat(auto-fit, minmax(150px,1fr));}
}





@media screen and (min-width:640px){
  nav{display:flex !important;}
  nav .menu-link:last-child{padding-right:var(--size-4);}
  .menu-toggle{display:none !important; visibility:hidden; content-visibility:hidden;}
  
  .primelist{grid-template-columns:repeat(4,1fr); margin-bottom:calc((var(--prime-box-height) / 2) * -1);}
  
  .saop-tab{display:flex; justify-content:center;}
  .saop-tab-button{min-width:185px;}
}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  .header-link, .menu-link{height:var(--size-6);}
  .menu-home{padding-left:var(--size-4);}
  
  .section-container > .width-max{padding:0 var(--size-4);}
  
  .saop-list{grid-template-columns:repeat(auto-fit, minmax(200px,1fr)); grid-gap:var(--size-4);}
  .saop-box{padding:var(--size-4);}
}