:root, :before, :after{
  --default-fontsize:16px;
}

.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}

.header-sticky .header-link, .header-sticky .menu-link{height:var(--size-6);}

.header-link, .menu-link{height:var(--size-7);}
nav .menu-link:last-child{padding-right:var(--size-5);}
.menu-home{padding-left:var(--size-5);}
  
.section-container > .width-max{padding:0 var(--size-5);}